alabaster==0.7.16
allure-pytest==2.13.5
allure-python-commons==2.13.5
altgraph==0.17.4
appdirs==1.4.4
astroid==3.1.0
attrs==23.2.0
Babel==2.14.0
black==23.12.1
build==1.2.1
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
coverage==7.4.1
cryptography==41.0.7
darglint==1.8.1
databind.core==4.4.2
databind.json==4.4.2
deltalake==0.16.4
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
docspec==2.2.1
docspec-python==2.2.1
docstring_parser==0.11
docutils==0.20.1
filelock==3.13.4
flake8==7.0.0
flit==3.9.0
flit_core==3.9.0
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
mypy==1.10.0
mypy-extensions==1.0.0
nr-date==2.1.0
nr-stream==1.1.5
nr.util==0.8.12
numpy==1.26.3
packaging==23.2
pandas==2.2.0rc0
pathspec==0.12.1
pefile==2023.2.7
pip-system-certs==4.0
platformdirs==4.2.0
pluggy==1.3.0
py==1.11.0
pyarrow==15.0.2
pyarrow-hotfix==0.6
pycodestyle==2.11.1
pycparser==2.21
pydoc-markdown==4.8.2
pyflakes==3.2.0
Pygments==2.17.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pylint==3.1.0
pyproject-api==1.6.1
pyproject_hooks==1.0.0
pytest==8.0.0rc1
pytest-check==2.2.4
pytest-cov==4.1.0
pytest-html==4.1.1
pytest-instafail==0.5.0
pytest-metadata==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
recommonmark==0.7.1
requests==2.31.0
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.5.4
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-markdown-builder==0.6.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tabulate==0.9.0
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.12.4
tox==3.28.0
tox-battery==0.6.2
typeapi==2.1.2
typing_extensions==4.6.3
tzdata==2023.4
urllib3==2.1.0
versioneer==0.29
virtualenv==20.26.0
watchdog==4.0.0
wrapt==1.16.0
yapf==0.40.2
zipp==3.17.0
